.fit-cover {
  object-fit: cover;
}

#section-inro {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-color: black;
  color: white;
}

#section-about {
  background: #fd0000;
  font-size: large;
}

